<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs', { title: 'New subject'}) %>

<body>
    <div class="myform">
        <%- include('partials/navbar.ejs' , { username: username }) %>
        
        <h1>New subject</h1>

        <form action="/subject" method="POST">
            <input type="number" name="id" placeholder="ID" min="0" max="3000" required/>
            <input type="text" name="name" placeholder="Name" required/>
            <input type="number" name="class" placeholder="Class" min="1" max="13" required/>
            <input type="number" name="lecture" placeholder="Lecture" min="1" max="4" required/>
            <input type="number" name="seminar" placeholder="Seminar" min="0" max="4" required />
            <input type="number" name="lab" placeholder="Laboratory" min="0" max="4" required/>
            <div class="submitButton" >
                <p><input type="submit" value="Submit" /></p>
            </div>
        </form>

        <div class="message">
            <p id="mes"><%= message %></p>
        </div>

    </div>
    
    <% if (role) { %>
        <%- include('partials/button.ejs', { label: 'Logout', link: '/login.html' })%>
    <% } else { %>
        <%- include('partials/button.ejs', { label: 'Login', link: '/login.html' })%>
    <% } %>
</body>

</html>